<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Help</title>
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p class="hp">This website helps you in finding the weather of a location in
            an
            efficient way.
            To find the weather, enter the location in the search bar in the Home page .

        </p>
        <a href="/" class="ha">HOME &#8594</a>
    </div>



    {{>footer}}
</body>

</html>
