<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Help</title>
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p class="hp">This website help you to find the weather of the location in
            a
            efficient way.
            To find the weather, enter the location in the search bar present in the Home page .

        </p>
        <a href="/" class="ha">HOME &#8594</a>
    </div>



    {{>footer}}
</body>

</html>